@charset "utf-8";

// PUBG_Battlegrounds_Regular
@font-face {
  font-family: 'PUBGBattlegrounds';
  font-style: normal;
  font-weight: 400;
  src: url($CDN + '/fonts/pubg/PUBG_Battlegrounds_Regular.otf')
    format('opentype');
}

// PUBG_Battlegrounds_Textured
@font-face {
  font-family: 'PUBGBattlegroundsTextured';
  font-style: normal;
  font-weight: 400;
  src: url($CDN + '/fonts/pubg/PUBG_Battlegrounds_Textured.otf')
    format('opentype');
}

// RefrigeratorDeluxe
@font-face {
  font-family: 'RefrigeratorDeluxe';
  font-style: normal;
  font-weight: 400;
  src: url($CDN + '/fonts/refrigerator/RefrigeratorDeluxe.otf')
    format('opentype');
}

// RefrigeratorDeluxeBold
@font-face {
  font-family: 'RefrigeratorDeluxe';
  font-style: normal;
  font-weight: 700;
  src: url($CDN + '/fonts/refrigerator/RefrigeratorDeluxeBold.otf')
    format('opentype');
}

// RefrigeratorDeluxeExtrabold
@font-face {
  font-family: 'RefrigeratorDeluxe';
  font-style: normal;
  font-weight: 800;
  src: url($CDN + '/fonts/refrigerator/RefrigeratorDeluxeExtrabold.otf')
    format('opentype');
}

// Cairo-Regular
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url($CDN + '/fonts/cairo/Cairo-Regular.ttf') format('truetype');
}

// Cairo-SemiBold
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url($CDN + '/fonts/cairo/Cairo-SemiBold.ttf') format('truetype');
}

// Cairo-Bold
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url($CDN + '/fonts/cairo/Cairo-Bold.ttf') format('truetype');
}

// Prompt-Medium
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: url($CDN + '/fonts/prompt/Prompt-Medium.ttf') format('truetype');
}

// Prompt-Bold
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: url($CDN + '/fonts/prompt/Prompt-Bold.ttf') format('truetype');
}

// Prompt-ExtraBold
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 800;
  src: url($CDN + '/fonts/prompt/Prompt-ExtraBold.ttf') format('truetype');
}

// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700;900&display=swap');

// Spoqa
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

// Transducer
@import url('https://use.typekit.net/zfb3fvb.css');
