@import './all.scss';
@import './base/all';
@import './plugins/all';

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: $text-primary-color;
  font-family: $font-family;
  min-width: $layout-min-width;
  direction: ltr;
}

input,
textarea,
button {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

input[type='password'] {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;

  &::placeholder {
    font-family: $font-family;
  }
}

.en,
:lang(en) {
  font-family: $font-family;
}

.ko,
:lang(ko) {
  font-family: $font-family-KR;
}
